{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="{% static './css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class = "mt-5 mb-5">Каталог</h1>
        <div class="row">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card" style="height: 100%">
                  <img src="{{book.image}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{book.name}}</h5>
                    <p class="card-text">{{book.description}}</p>
                      <h5 class="badge text-bg-primary">Цена: {{book.price}}</h5>
                      <div>
                          <a href="#" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                          </a>
                      </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>